<!--<div>
  Hola mundo
</div>

<div>
  <p>Saludos!!!!</p>
</div>

<div>
  {{title}}
</div>
<div>
  <h2>La suma de 2 + 2 es: {{2+2}}</h2>
  <h3>El doble de 3 es: {{dobleNumero(3)}}</h3>
</div>

<div>
  <h2>Nombre: {{alumno.nombre | uppercase}}</h2>
  <h2>Edad: {{alumno.edad}}</h2>
  <h2>Curso: {{alumno.curso}}</h2>
  <h2>Fecha Inscrito: {{alumno.fechaInscrito | date:"dd-MM-yyyy"}}</h2>
  <h2>Pago: {{alumno.pago | currency}}</h2>
</div> -->
<div class="container">
  <div class="row">
    <app-product-list></app-product-list>
  </div>
</div>